#root {
  display: grid;
  grid-template-columns: 510px 250px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.headerContainer {
  grid-column: span 2;
}

.headerText {
  font-size: 24px;
  color: white;
}

.puzzleContainer {
 display: block;
}

.historyContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.buttonsContainer {
  grid-column: span 2;
}

.grid {
  display: table;
  border: solid 3px black;
  border-collapse: collapse;
}

.nRowBorder {
  display: table-row;
  border: solid 1px black;
}

.bRowBorder {
  display: table-row;
  border: solid 1px black;
  border-bottom: solid 3px black;
}

.nBorder {
  display: table-cell;
  border: solid 1px black;
}

.rBorder {
  display: table-cell;
  border: solid 1px black;
  border-right: solid 3px black;
}

.cellInput {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  color: black;
  background-color: azure;
  border: 0px solid black;
}

.histGrid {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: repeat(9, auto);
  width: 230px;
  height: 230px;
  padding: 0px;
  margin: 0px;
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-bottom: solid 1px black;
  border-right: solid 2px black;
}

.brHistBorder {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: solid 1px black;
  border-bottom: solid 2px black;
  border-right: solid 2px black;
  display: flex;
  box-sizing: border-box;
}

.bHistBorder {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: solid 1px black;
  border-bottom: solid 2px black;
  display: flex;
  box-sizing: border-box;
}

.rHistBorder {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: solid 1px black;
  border-right: solid 2px black;
  display: flex;
  box-sizing: border-box;
}

.histBorder {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: solid 1px black;
  display: flex;
  box-sizing: border-box;
}

.histCellInput {
  width: 100%;
  height: 100%;
  padding: 0px;
  border: 0px;
  font-size: 10px;
  text-align: center;
  box-sizing: border-box;
  color: black;
  background-color: azure;
}
